

#a {
	width: 100px;
  height: 100px;
  font: 30pt bold Helvetica, Arial, sans-serif;
  line-height: 100px;
  text-align: center;
background-color: lightblue;
  float: right;
}
#b {
	width: 100px;
  height: 100px;
  font: 30pt bold Helvetica, Arial, sans-serif;
  line-height: 100px;
  text-align: center;
background-color: pink; 
  position: absolute;
  top: 50px;
  right: 100px;
}
#c {
  clear: right;
  text-align: center;
  margin-right: 100px;
}
  
  