
#a1 { 
width: 100px;
  height: 100px;
  font: 30pt bold Helvetica, Arial, sans-serif;
  line-height: 100px;
  text-align: center;
background-color: lightblue;
float: left; 
}
#b1 { 
width: 100px;
  height: 100px;
  font: 30pt bold Helvetica, Arial, sans-serif;
  line-height: 100px;
  text-align: center;
background-color: pink; 
float: right;
}
#c1 { background-color: lightgray; }




#a2 { 
width: 100px;
  height: 100px;
  font: 30pt bold Helvetica, Arial, sans-serif;
  line-height: 100px;
  text-align: center;
background-color: lightblue;
float: left; 
}
#b2 { 
width: 100px;
  height: 100px;
  font: 30pt bold Helvetica, Arial, sans-serif;
  line-height: 100px;
  text-align: center;
background-color: pink; 
float: right;
clear: left;
}
#c2 { background-color: lightgray; }





#a3 { 
width: 100px;
  height: 100px;
  font: 30pt bold Helvetica, Arial, sans-serif;
  line-height: 100px;
  text-align: center;
background-color: lightblue;
float: left; 
}
#b3 { 
width: 100px;
  height: 100px;
  font: 30pt bold Helvetica, Arial, sans-serif;
  line-height: 100px;
  text-align: center;
background-color: pink; 
float: right;
clear: left;
}
#c3 { background-color: lightgray;
clear: left;
  text-align: right; }




#a4 { 
width: 100px;
  height: 100px;
  font: 30pt bold Helvetica, Arial, sans-serif;
  line-height: 100px;
  text-align: center;
background-color: lightblue;
float: left; 
}
#b4 { 
width: 100px;
  height: 100px;
  font: 30pt bold Helvetica, Arial, sans-serif;
  line-height: 100px;
  text-align: center;
background-color: pink; 
float: right;
clear: left;
}
#c4 { background-color: lightgray;
text-align: right;
  width: 300px;
  margin-left: auto;
  margin-right: auto; }
  
  
  
  
  
#a5 { 
width: 100px;
  height: 100px;
  font: 30pt bold Helvetica, Arial, sans-serif;
  line-height: 100px;
  text-align: center;
background-color: lightblue;
float: right; 
}
#b5 { 
width: 100px;
  height: 100px;
  font: 30pt bold Helvetica, Arial, sans-serif;
  line-height: 100px;
  text-align: center;
  background-color: pink;
      float:left;
    
    

}
#c5 { 
background-color: lightgray;
float: left;
  text-align: center;
  width: 300px; }



   

#a6 {
	width: 100px;
    height: 100px;
    font: 30pt bold Helvetica, Arial, sans-serif;
    line-height: 100px;
    text-align: center;
    background-color: lightblue;
    float: right;
}
#b6 {
	width: 100px;
    height: 100px;
    font: 30pt bold Helvetica, Arial, sans-serif;
    line-height: 100px;
    text-align: center;
    background-color: lightblue;
    position: relative;
    float:right;
    top: 50px;
    right: -10px;
    background-color: pink;
}
#c6 {
    clear: right;
    text-align: center;
    margin-right: 100px;
    background-color: lightgray;
}



#a7 {
	width: 100px;
  height: 100px;
  font: 30pt bold Helvetica, Arial, sans-serif;
  line-height: 100px;
  text-align: center;
background-color: lightblue;
  
  float: left;
}
#b7 {
	width: 100px;
  height: 100px;
  font: 30pt bold Helvetica, Arial, sans-serif;
  line-height: 100px;
  text-align: center;
background-color: pink; 
 
  float: left;
}
#c7 {
	background-color: lightgray;
  margin-left: 200px;
}


#a8 {
	width: 100px;
  height: 100px;
  font: 30pt bold Helvetica, Arial, sans-serif;
  line-height: 100px;
  text-align: center;
background-color: lightblue;
  
  float: left;
}
#b8 {
	width: 100px;
  height: 100px;
  font: 30pt bold Helvetica, Arial, sans-serif;
  line-height: 100px;
  text-align: center;
background-color: pink; 
 
  
}
#c8 {
	background-color: lightgray;
}
  



#a9 {
	width: 100px;
  height: 100px;
  font: 30pt bold Helvetica, Arial, sans-serif;
  line-height: 100px;
  text-align: center;
background-color: lightblue;
  
  float: left;
}
#b9 {
	width: 100px;
  height: 100px;
  font: 30pt bold Helvetica, Arial, sans-serif;
  line-height: 100px;
  text-align: center;
background-color: pink; 
 float: left;
  
}
#c9 {
	background-color: lightgray;
	margin-top: 100px;
}
  
 
#d9 {
  height: 100px;
}





