*
{
  box-sizing: border-box;
}


body {
  font-family: Arial;
  margin: 0;
}


.header {
  padding: 60px;
  text-align: center;
  background: #5FC3EA;
  color: black;
}


.navbar {
  display: flex;
  background-color: #545457;
  
  
}


.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}





.row {  
  display: flex;
  flex-wrap: wrap;
  height:500px;
}


.left {
  flex: 33%;
  background-color: #969292;
  padding: 20px;
}
.middle {
  flex: 33%;
  background-color: #C8C2C3;
  padding: 20px;
}


.right {
  flex: 33%;
  background-color: #D5CFD0;
  padding: 20px;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #545457;
}


@media screen and (max-width: 600px) {

  .left,.middle{
  flex:50%;
}

}